.window {
    position: absolute;
    display: grid;
    top: 25%;
    left: 42%;
    border-radius: 10px;   
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
#cerrarPopUp{
    margin: 1% 10% 0 10%;
}